.add-question-content {
    h1 {
        margin: 2rem 0;
    }

    h3 {
        margin: 0;
    }

    .tags-container {
        display: flex;
        justify-content: space-between;

        mat-form-field {
            width: 75%;
        }

        button {
            align-self: center;
        }
    }

    mat-form-field {
        width: 100%;
        margin-top: 1rem;
    }

    .buttons-container {
        display: flex;
        justify-content: space-between;
    }
}
