mat-toolbar {
    box-shadow: 0 3px 5px -1px rgba(0,0,0,.2),
                0 6px 10px 0 rgba(0,0,0,.14),
                0 1px 18px 0 rgba(0,0,0,.12);

    button {
        margin: 1rem;
    }

    position: fixed;
    top: 0;
    z-index: 1;
}

.main-content {
    min-width: 35rem;
    width: 50%;
    margin: 10rem auto;

    padding-bottom: 3rem;
}
