<div class="header">
    <img [src]="data.user.photo" class="avatar">
    <mat-card-header>
        <mat-card-title>{{data.user.surname}} {{data.user.name}}</mat-card-title>
        <mat-card-subtitle>@{{data.user.nickname}}</mat-card-subtitle>
    </mat-card-header>
</div>

<div class="main-content">
    <mat-card-actions>
        <button mat-icon-button (click)="onUpdateRatingClick(1)">
            <mat-icon>expand_less</mat-icon>
        </button>
        <div [ngStyle]="{ 'opacity': getRatingOpacity() }"
            [ngClass]="{
                    'green-stat': data.rating > 0,
                    'grey-stat': data.rating == 0,
                    'red-stat': data.rating < 0
                }" class="rating"
        >{{data.rating}}</div>
        <button mat-icon-button (click)="onUpdateRatingClick(-1)">
            <mat-icon>expand_more</mat-icon>
        </button>
    </mat-card-actions>

    <mat-card-content>
        <p>{{data.content}}</p>
    </mat-card-content>
</div>
